<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../styles/skeleton.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <body>
        <div class="card">
            <div class="nameyear">
                <label id="cname">Valkyria Chronicles</label>
                <label id="cyear">(2010)</label>
            </div>
            <div class="platpub">
                <label id="cplatform">PC</label>
                <div class="pubby">
                    <label>Published by</label>
                    <label id="publisher">SEGA</label>
                </div>
            </div>
            <div class="genres">
                <label class="genretag">FPS</label>
                <label class="genretag">RPG</label>
                <label class="genretag">Historical</label>
                <label class="genretag">Anime</label>
            </div>
            <a id="url" href="https://store.steampowered.com/app/294860/Valkyria_Chronicles/" target="_blank">https://store.steampowered.com/app/294860/Valkyria_Chronicles/</a>
            <a id="cpath" href="www.google.com", target="_blank">/media/archive/games/[SEGA]/ValChron.7z</a>
        </div>
    </body>
</html>